.task {
  width: 16rem;
  padding: 20px;
  background-color: var(--third-color);
  border-radius: 0.75rem;
}

.task:hover {
  position: relative;
  top: 2px;
  left: 2px;
}

.task_important {
  border: 2px solid var(--second-color);
}

.task__head {
  display: flex;
}

.task__title {
  overflow: hidden;

  margin-right: auto;

  font-size: 1rem;
  color: #fff;
  text-overflow: ellipsis;
}

.task__image {
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}

.task__image:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.task:hover .task__image {
  opacity: 1;
}

.task__image_edit {
  margin-right: 1rem;
}

.task__info {
  overflow: hidden;

  font-size: 0.9rem;
  font-weight: 300;
  color: rgb(255 255 255 / 50%);
  text-overflow: ellipsis;
}

@media (width <= 350px) {
  .task {
    width: 14rem;
  }
}
