.task {
  margin-right: 0.25rem;
  padding: 20px;
  background-color: var(--third-color);
  border-radius: 0.75rem;
}

.task_important {
  border: 2px solid var(--second-color);
}

.task__title {
  font-size: 1rem;
  color: #fff;
}

.task__info {
  font-size: 0.9rem;
  font-weight: 300;
  color: rgb(255 255 255 / 50%);
}
