.form {
  display: flex;
  flex-direction: column;

  max-width: 19rem;
  margin: 0 auto;
  padding: 1rem;

  color: #fff;

  background-color: var(--third-color);
  border-radius: 0.75rem;
}

.form__fieldset {
  margin-bottom: 1rem;
}

.form__area {
  width: 100%;
  background-color: rgb(255 255 255 / 50%);
  border-radius: 0.4rem;
}

.form__check {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
}

.form__label {
  font-size: 1rem;
}

.check__input {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.75rem;
}

.form__btn {
  align-self: center;

  width: 9rem;

  font-size: 1.25rem;
  color: #fff;

  background-color: rgb(255 255 255 / 50%);
  border: 1px solid rgb(255 255 255 / 50%);
  border-radius: 0.5rem;

  transition: all 0.4s ease-in-out;
}

.form__btn:hover {
  color: rgb(0 0 0 / 30%);
  background-color: rgb(255 255 255 / 90%);
  border-color: rgb(255 255 255 / 90%);
}
