.search-panel {
  position: relative;
}

.search-input {
  flex-grow: 1;
  width: 15rem;
}

.close {
  position: absolute;
  top: 6px;
  right: 10px;

  background-color: inherit;
  border: none;
}

@media (width <= 660px) {
  .search-input {
    height: 2rem;
  }

  .close {
    top: 4px;
  }
}
