.header {
  display: flex;
  align-items: center;

  width: 100%;
  max-width: 1280px;
  height: 80px;
  margin: 0 auto;
  padding: 0 5rem;

  background-color: var(--main-color);
}

.header__logo {
  color: #fff;
}
