.header__link {
  color: #fff;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.header__link:hover {
  transform: scale(1.2);
  color: var(--second-color);
}

@media (width <= 350px) {
  .header__logo {
    overflow: hidden;
    display: inline-block;

    width: 2rem;
    height: 3rem;
    margin: 0;

    font-size: 3rem;
    line-height: 3rem;
  }
}
