.todos__list {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.todos__item {
  width: 19rem;
  background-color: var(--second-color);
  border-radius: 0.75rem;
  padding: 1.5rem 1rem;
}

.item__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item__title {
  color: rgba(255, 255, 255, 50%);
}

.item__add {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #ffffff;
  line-height: 100%;
  transition: transform 0.4s ease-in-out;
  text-decoration: none;
}

.add__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  color: rgba(255, 255, 255, 40%);
  background-color: rgba(255, 255, 255, 10%);
}

.item__add:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #ffffff;
}

.item__add:active {
  transform: scale(1);
}

.item__tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0;
  list-style-type: none;
}
